<script>
    
</script>
<body onload="askUser()">
    <h1> Room </h1>
    <p>This is a demo of chatroom page</p>
    {{!-- <p>
        The room you are visiting is {{ roomName }}
    </p> --}}
    <p>To generate a new room, here is the room id: {{ newRoomId }}</p>

        <h3>Your room is</h3>

    <form action="/createMessage" method="POST"> 
        <input type="text" name="roomName" value = {{roomName}} id = "room"/>
        <input type="text" name="userName" value="" readonly="false" id = "userFill"/>
        <input type="text" name="messageText" placeholder="Please enter a message"/>
        <input type="submit" value="Message"/>
    </form>
</body>


{{#if isAvailable}}
    <ul id = "list-template">
        {{!-- {{#each messages}}
            {{#ifCond this.roomName roomName }}
                <li> [{{this.date}}] -- {{this.name}}: {{this.text}} RoomName: {{this.roomName}} </li>
            {{/ifCond}}
        {{/each}} --}}
    </ul>
{{/if}}

<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script>
    var user;
    async function askUser() {
        if (user == undefined) { //no user assigned yet
            user = prompt("Please enter your username!");
            console.log(user);
            document.getElementById('userFill').setAttribute('value', user);
            document.getElementById('userFill').setAttribute('readonly', true);
        } else { //User already assigned
            alert("Enjoy your stay, " + user );
        }
    }
    var room = document.getElementById('room').getAttribute('value');
    console.log(room);
    var fetchString = "http://localhost:8080/" + room + "/getMessages";
    window.addEventListener('load', function () {
        setInterval( async function() {
            fetch(fetchString)
            .then(response => response.json())
            .then(data => {
                var messageJson = data;
                console.log(messageJson);

                var ul_element = document.getElementById('list-template');
                ul_element.innerHTML = "";
                for(var j = 0; j < messageJson.length; j++) {
                    if(messageJson[j].roomName == room) {
                        var li = document.createElement('li');
                        li.innerHTML = messageJson[j].date + ' -- ' + messageJson[j].name + ': ' + messageJson[j].text ;
                        ul_element.appendChild(li);
                    }
                    
                }
            }).catch(err => {
                console.log("Error when rendering messages", err);
            })
        }, 2000)
    })
    
</script>

